body {
  font-family: var(--roboto);
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */
.page-header {
  border-bottom: 1px solid var(--border-color);
}

.page-header__content {
  display: flex;
  align-items: center;
}

.logo-link {
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.logo-text {
  font-family: var(--raleway);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-left: 93px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
}

.nav-menu__item,
.nav-menu-contacts__item {
  display: flex;
  align-items: center;

  margin-right: 30px;
}

.nav-menu__item:last-of-type,
.nav-menu-contacts__item:last-of-type {
  margin-right: 0;
}

.nav-menu__link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu__link:hover,
.nav-menu__link:focus,
.nav-menu__link:active {
  color: var(--accent-color);
}

.nav-menu-contacts {
  display: flex;
  margin-left: 305px;
}

.nav-menu-contacts:last-of-type {
  margin-right: 0;
}

.nav-menu__link.current {
  color: var(--accent-color);
}

.nav-menu__link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
}

.nav-menu-contacts__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--link-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu-contacts__link:hover,
.nav-menu-contacts__link:focus,
.nav-menu-contacts__link:active {
  color: var(--accent-color);
}

.nav-menu-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

/* Стили для героя */

.hero {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      var(--gradient-color),
      var(--gradient-color)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .container {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero__btn {
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover,
.hero__btn:focus,
.hero__btn:active {
  color: var(--secondary-color);
  background-color: var(--secondary-white-color);
}

/* Стили для блока 2 */

.benefits-section {
  padding: 94px 0;
}

.benefits {
  display: flex;
}

.benefits__item {
  max-width: 270px;
  margin-right: 30px;
}

.benefits__img {
  display: block;
  text-align: center;
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  background-color: var(--secondary-white-color);
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.benefits__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

/* Стили для секции "Чем мы занимаемся" */

.product {
  padding-bottom: 94px;
}

.product__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.product-list {
  display: flex;
  justify-content: space-between;
}

.product-list__item {
  position: relative;
  flex-basis: calc(100% / 3 - 30px);
}

.product-list__img {
  display: block;
  max-width: 100%;
}

.product-list__box {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 0;
  background-color: var(--grey-dark-color);
}

.product-list__title {
  margin: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* Стили для блока 3 */

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-white-color);
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  flex-basis: calc(100% / 4 - 30px);
  background-color: var(--white-color);
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__img {
  display: block;
  max-width: 100%;
}

.team-list__descr {
  padding: 30px 32px;
}

.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.team-list__position {
  margin: 0;
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.team-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.team-icons__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--grey-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons__link:hover,
.team-icons__link:focus,
.team-icons__link:active {
  color: currentColor;
  background-color: var(--accent-color);
  border-radius: 50%;
  fill: var(--white-color);
}

/* Стили для Блока 4 */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
}

.clients-list__img {
  display: flex;
  width: 170px;
  height: 90px;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--grey-color);
  border-radius: 4px;
  fill: var(--grey-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__img:hover,
.clients-list__img:focus,
.clients-list__img:active {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/* Стили для футера */

.page-footer {
  background-color: var(--bgd-color);
}

.page-footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
  min-height: 252px;
  display: flex;
  align-items: baseline;
}

.logo-link--white {
  color: var(--white-color);
}

.page-footer__address {
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.page-footer-contacts__item {
  display: block;
  margin-top: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--grey-light-color);
}

.page-footer-join-us-title,
.page-footer-subscribe-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.page-footer-join-us {
  margin-left: 70px;
}

.page-footer-join-us-list {
  display: flex;
}

.page-footer-join-us-list__item {
  margin-right: 10px;
}

.page-footer-join-us-list__item:last-child {
  margin-right: 0;
}

.page-footer-join-us-list__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--white-color);
  background-color: var(--footer-icon-bgd);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer-join-us-list__icon:hover,
.page-footer-join-us-list__icon:focus,
.page-footer-join-us-list__icon:active {
  background-color: var(--accent-color);
}

.page-footer-subscribe {
  margin-left: 93px;
}

.page-footer-subscribe-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--grey-light-color);
  background-color: transparent;
  border: 1px solid var(--grey-medium-color);
  border-radius: 4px;
}

.page-footer-subscribe-button {
  margin-left: 12px;
  padding: 10px 28px 10px 29px;
  cursor: pointer;
  background-color: var(--accent-color);
  fill: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
}

.page-footer-subscribe-icon {
  margin-left: 5px;
  vertical-align: middle;
}

/* Стили для portfolio */

.portfolio {
  padding: 94px 0;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.portfolio-btn-list__item {
  margin-right: 8px;
}

.portfolio-btn-list__item:last-child {
  margin-right: 0;
}

.portfolio-btn-list__btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  background-color: var(--secondary-white-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn-list__btn:hover,
.portfolio-btn-list__btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-btn-list__btn:hover,
.portfolio-btn-list__btn:focus,
.portfolio-btn-list__btn:active {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -30px 0 0 -30px;
}

.portfolio-gallery__item {
  flex-basis: calc(100% / 3 - 30px);
  margin: 30px 0 0 30px;
}

.portfolio-gallery__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-gallery__link:hover,
.portfolio-gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-gallery__thumb {
  position: relative;
  display: block;
  overflow: hidden;
}

.portfolio-gallery__img {
  display: block;
  max-width: 100%;
}

.portfolio-gallery-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 101%;
  height: 100%;

  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--overlay-color);
  color: var(--white-color);
}

.portfolio-gallery__link:hover .portfolio-gallery-overlay,
.portfolio-gallery__link:focus .portfolio-gallery-overlay {
  transform: translateY(0);
}

.portfolio-gallery-overlay_descr {
  margin: 0;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.portfolio-gallery-text {
  padding: 20px 24px;
  border: 1px solid var(--portfolio-border-color);
  border-top: none;
}

.portfolio-gallery-text__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
}

.portfolio-gallery-text__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

/* Стили для модалки */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--backdrop-color);
  transform: scaleY(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scaleY(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-end;
  width: 528px;
  z-index: 100;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid var(--grey-modal-color);
  border-radius: 50%;
  background-color: var(--white-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover,
.modal__btn-close:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-title {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.modal-input {
  display: flex;
  flex-direction: column;
}

.modal-input-form:focus-within svg {
  fill: var(--accent-color);
}

.modal-input-form:focus-within input {
  border-color: var(--accent-color);
  outline: none;
}

.modal-input-form:focus-within textarea {
  border-color: var(--accent-color);
  outline: none;
}

.modal-input-form__item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-input-form__name {
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--link-color);
}

.modal-input-form__field {
  padding: 11px 12px 11px 42px;
  border: 1px solid var(--grey-input-color);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-form__icon {
  position: absolute;
  left: 12px;
  top: 29px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-form__item.comment {
  margin-bottom: 20px;
}

.modal-input-form__textarea {
  padding: 12px 16px;
  height: 120px;
  resize: none;
  border: 1px solid var(--grey-input-color);
  border-radius: 4px;
}

.modal-input-form__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--grey-placeholder-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.modal-checkbox__field {
  appearance: none;
  position: absolute;
  top: 50%;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-checkbox__field:checked + .modal-checkbox__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

.modal-checkbox__icon {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary-color);
  border-radius: 2px;
}

.modal-checkbox__link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal__btn-send {
  width: 200px;
  padding: 10px 55px 10px 56px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
